header {
	padding: 0.5em 0 0.5em 1em;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 1.5em;
	background: #4C9ED9;
	border-bottom: 2px solid silver;
	opacity: 0.95;
}

header a { font-weight: bolder; 
	color: white;
	text-decoration: none;
}

header a:hover { color: black; }

#headerHomeURL {float: left;}
#headerMenu {
  float: left;
  position: relative;
  left: 2em;
}
#headerUserInfo {
    color: #FFF;
    clear: left;
    position: absolute;
    right: 2em;
}
